a{
    text-decoration: none;
    color: white;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    5% {
        opacity: 1;
    }
    45% {
        opacity: 0;
    }
    55% {
        opacity: 0;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
.blink {
    animation: blink 1s infinite;
}

.hidden {
    display: none !important;
}

.loading-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle farthest-side, rgb(45, 46, 67), rgb(0, 0, 0));
    z-index: 99999999;
}
.loading-img img{
    width: 162.6px;
    height: 117.6px;
}
.loading-img #container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 162.6px;
    font-size: 14px;
    color: white;
}
.loading-img .text{
    margin: 10px 0px;
}

.start-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
}
.start-img img {
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    pointer-events: none;

}
.start-btn {
    position: fixed;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 286.92px;
    height: 52px;
    z-index: 601;
}
.start-btn img {
    box-sizing: border-box;
    /* object-fit: cover; */
    width: 286.92px;
    height: 52px;
    /* width: 100%; */
    /* margin: 0 auto; */
}

.scan-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
.scan-img img {
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;

}

.repeat-btn {
    position: fixed;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 286.92px;
    height: 52px;
    z-index: 601;
}
.repeat-btn img {
    box-sizing: border-box;
    /* object-fit: cover; */
    width: 286.92px;
    height: 52px;
    /* width: 100%; */
    /* margin: 0 auto; */
}
.links {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 40px;
    z-index: 601;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


#whiteOut {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
}