#whiteOut {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
  }

.scan-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.scan-img img {
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;

}

.start-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
}
.hidden {
    display: none;
}

.start-img img {
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    pointer-events: none;

}

.end-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    pointer-events: none;
}

.end-img img {
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;

}

.start-btn {
    position: fixed;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 286.92px;
    height: 52px;
    z-index: 601;
}

.start-btn img {
    box-sizing: border-box;
    /* object-fit: cover; */
    width: 286.92px;
    height: 52px;
    /* width: 100%; */
    /* margin: 0 auto; */
}

.repeat-btn {
    position: fixed;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 286.92px;
    height: 52px;
    z-index: 601;
}

.repeat-btn img {
    box-sizing: border-box;
    /* object-fit: cover; */
    width: 286.92px;
    height: 52px;
    /* width: 100%; */
    /* margin: 0 auto; */
}

.link-btn {
    position: fixed;
    top: calc(60% + 80px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    height: 60px;
    z-index: 100;
}

.link-btn img {
    box-sizing: border-box;
    /* object-fit: cover; */
    width: 288px;
    height: auto;
}

.full-btn {
    width: 48px;
    height: 48px;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 101;
    /* 必要に応じてz-indexを調整 */
}

.full-btn img {
    box-sizing: border-box;
    /* object-fit: cover; */
    width: 48px;
    height: 48px;
}


.small-btn {
    width: 48px;
    height: 48px;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 101;
    /* 必要に応じてz-indexを調整 */
}

.small-btn img {
    box-sizing: border-box;
    /* object-fit: cover; */
    width: 48px;
    height: 48px;
}


#requestingCameraPermissions {
    color: black !important;
    background-color: #000000 !important;
}

#requestingCameraIcon {
    /* これで画像が白から黒に変わります */
    filter: invert(1) !important;
}

#whiteOut {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
}

#orientationWarning {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    color: black;
    font-size: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* 必要に応じて調整 */
    transition: all 0.3s ease-in-out;
}